@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,800&display=swap');
body{font-family: 'Graphik';
font-style: normal;
background: #181818;}
.header{float: left;
width: 100%;
    padding-top: 17px;
}
.col-sm-4{float: left;}
.logo{
	float: left;
	
}
.list1{float: left;
padding-top: 12px;
}


.list11{float: left;
width: 100%;
list-style: none;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #FFFFFF;
}
.list11a{float: left;
		width: 22%;}

.list11b{float: left;
		width: 23%;}

.list11c{float: left;
		width: 23%;}
.list11d{float: left;
		width: 20%;}

.list11 a{text-decoration: none;
		color:  #FFFFFF;}

.btn1{font-weight: 500;
font-size: 17px;
line-height: 25px;
letter-spacing: 0.2px;
background: #181818;
color: #D9B346;
border: 1px solid #D9B346;
padding: 8px 20px 8px 20px;}


.section1{float: left;
width: 100%;
    padding-top: 110px;}
.sec1{width: 100%;
text-align: center;
}
.sec1a{font-weight: 500;
font-size: 80px;
line-height: 88px;
color: #FFFFFF;}

.sec1b{font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #F8F8F8;
    padding-top: 20px;}


.sec1a span{color: #D9B346;
font-weight: 500;
font-size: 80px;
line-height: 88px;
font-style: italic;
}

.btn2{font-weight: 500;
font-size: 17px;
line-height: 25px;
letter-spacing: 0.2px;
padding: 13px 28px;
color: #181818;
margin: 0px 10px;
margin-top: 60px;
    margin-right: 35px;

background: linear-gradient(96.01deg, #F7EA76 0%, #D1AF4D 111.25%);}
.btn3{font-weight: 500;
font-size: 17px;
line-height: 25px;
letter-spacing: 0.2px;
color: #FFFFFF;
background: #181818;
border: 1px solid white;
padding: 13px 28px;}

.pic1{padding-top: 55px;}

.section2{float: left;
width: 100%;
background-image: url(../img/bg1.png);
margin-top: 80px;}


.sec2{float: left;
width: 100%;
text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
}

.sec2a{font-weight: 400;
font-size: 52px;
line-height: 62px;
letter-spacing: 0.2px;
color: #FFFFFF;
}


.sec2b{font-weight: 400;
font-size: 20px;
line-height: 30px;
letter-spacing: 0.2px;

color: #F8F8F8;
}


.col-sm-6{float: left;}


.sec2c{float: left;
padding-top: 150px;
    padding-left: 47px;
}


.sec2cc{font-style: italic;
font-weight: 500;
font-size: 36px;
line-height: 62px;
/* identical to box height, or 172% */

letter-spacing: 0.2px;

color: #D9B346;}


.sec2ccc{font-weight: 500;
font-size: 52px;
line-height: 62px;
/* or 119% */

letter-spacing: 0.2px;

/* light text */

color: #FFFFFF;
}

.sec2d{    float: left;
    padding-left: 15px;
}

.sec2d1{font-weight: 600;
font-size: 20px;
line-height: 25px;
margin: 0px;
letter-spacing: 0.352941px;

color: #EBEBEB;

}

.sec2d1 img{margin-right: 20px;}

.sec2d2{font-weight: 400;
font-size: 15px;
line-height: 25px;
    padding-left: 74px;
letter-spacing: 0.346154px;

color: #F8F8F8;
}
.section3{float: left;
width: 100%;}


.sec3{float: left;
width: 100%;
text-align: center;}

.sec3a{font-weight: 400;
font-size: 52px;
line-height: 62px;
color: #FFFFFF;
}

.sec3b{font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #F8F8F8;}
.sec3b span{color: #D9B346;
font-weight: 400;
font-size: 20px;
line-height: 30px;}